{% extends '@layout/default.html.twig' %}
{% block title %}Home{% endblock %}
{% block content %}    <div class="jumbotron">
        <h1>Welcome to my site</h1>
        <p>
            This is my personal page.
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>
                Lorem ipsum dolor sit amet
            </h2>
            <p>
                Lorem ipsum dolor sit amet, et saepe timeam diceret sea. Ne adhuc vituperata mei, wisi summo possit ut eos. Sale omittam explicari eos ei, vix semper scaevola phaedrum et. Ea deserunt urbanitas cum, eu debet eripuit minimum vim. An nec autem commune, id fugit maiorum molestiae pri.
            </p>
        </div>

        <div class="col-md-4">
            <h2>
                Lorem ipsum dolor sit amet
            </h2>
            <p>
                Lorem ipsum dolor sit amet, et saepe timeam diceret sea. Ne adhuc vituperata mei, wisi summo possit ut eos. Sale omittam explicari eos ei, vix semper scaevola phaedrum et. Ea deserunt urbanitas cum, eu debet eripuit minimum vim. An nec autem commune, id fugit maiorum molestiae pri.
            </p>
        </div>

        <div class="col-md-4">
            <h2>
                Lorem ipsum dolor sit amet
            </h2>
            <p>
                Lorem ipsum dolor sit amet, et saepe timeam diceret sea. Ne adhuc vituperata mei, wisi summo possit ut eos. Sale omittam explicari eos ei, vix semper scaevola phaedrum et. Ea deserunt urbanitas cum, eu debet eripuit minimum vim. An nec autem commune, id fugit maiorum molestiae pri.
            </p>
        </div>
    </div>

   
{% endblock %}