{% extends '@admin.layout/admin.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to <span class="zf-green">flatex CMS</span></h1>
        <p>
            This is a demo application. Please do not use on production. 
            See the docs for the tutorial.
        </p>
        <p>
            Technologies are listed below.
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>
                <a href="#" target="_blank">
                    <i class="fa fa-refresh"></i> Zend Expressive
                </a>
            </h2>
            <p>
                Expressive is fast, small and perfect for rapid application development, prototyping and api's. You decide how you
                extend it and choose the best packages from major framework or standalone projects.
            </p>
        </div>

        <div class="col-md-4">
            <h2>
                <a href="#" target="_blank">
                    <i class="fa fa-exchange"></i> Twig
                </a>
            </h2>
            <p>
                twig 
            </p>
        </div>

        <div class="col-md-4">
            <h2>
                <a href="https://github.com/zendframework/zend-stratigility" target="_blank">
                    <i class="fa fa-dot-circle-o"></i> Zend Service Manager and Zend router
                </a>
            </h2>
            <p>
                Zend module
            </p>
        </div>
    </div>

    
{% endblock %}
