{% extends '@admin.layout/admin.html.twig' %}

{% block title %}Installation{% endblock %}

{% block content %}


    <div class="row">
        <h1>Installationsanweisungen</h1>
    
    </div>
{% endblock %}
