{% extends '@admin.layout/admin.html.twig' %}

{% block title %}Pages{% endblock %}

{% block content %}

    <h1>Pages</h1>
    <a href="{{ path('admin.page', {'action': 'add' }) }}" class=" btn btn-default">Add page</a>
    <div class="row">
    <ul>
        {% for page in pages %}
        <li><a href="{{ path('admin.page', {'action': 'edit','id': page }) }}">{{ page|e }}</a></li>
        {% else %}
            <li><em>no page found</em></li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
